@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>El Pucherito está formado por cuatro alumnos del Grado en Ingeniería Multimedia de la Universidad de Alicante: Thomás Cafaro Fernández, Jesús X X, Jesús X X, Manuel X X. Consiste en una revista multimedia de carácter gastronómico. El objetivo principal de esta revista es el de congregar en un mismo sitio web a todo tipo de usuarios interesados en el mundo gastronómico, tanto amateur como profesional.

Por lo tanto, se ofrece una revista con recetas para todo tipo de niveles, tanto principiantes como avanzados, así como otras noticias relacionadas con el mundo gastronómico que puedan resultar de interés.

Por otro lado, como elemento diferenciador, la revista incluye un espacio de comunidad donde son los propios usuarios los que comparten sus creaciones culinarias, y son éstos los que valoran las de los demás, creando así una comunidad activa alrededor del sitio web.</p>
