@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>¿Eres un usuario y tienes una duda?</h4>
<h5>Puedes contactarnos viniendo a nuestras oficinas:</h5>

<address>
    Universidad de Alicante<br />
    San Vicente, Alicante 03690<br />
</address>

<h5>O llamando por teléfono:</h5>

<p>+34 969 666 112</p>
<p>+34 666 091 112</p>

<h5>O mandándonos un email:</h5>
<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@elpucherito.com">soporte@elpucherito.com</a><br />
    <strong>Negocios:</strong> <a href="mailto:business@elpucherito.com">business@elpucherito.com</a>
</address>