@{
    ViewBag.Title = "Preguntas Frecuentes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>¿Cómo puedo comentar en una publicación?</h4>
<p>
    Para poder comentar en una publicación debes estar registrado en la web. Una vez registrado y con la sesión inicia dirigete a la publicación
    en la que quiereas comentar y escribe en el apartado de "Comentario". Por ultimo envie su comentario punsaldo el botón.
</p>

<h4>¿Cómo puedo iniciar sesión?</h4>
<p>
    Para poder iniciar sesión en la página, haga click en la opción "Iniciar sesión" de la barra de navegación e introduzca los datos del formulario.
</p>

<h4>¿Cómo puedo encontrar las preguntas más frecuentes de otros usuarios?</h4>
<p>
    Debe entrar en el enlace "Preguntas frecuentes" de la barra de navegación. Una vez allí se le mostrará una lista de las preguntas frecuentes
    entre los usuarios de la página. Pd: ya esta usted en dicha página.
</p>

<h4>¿Cómo contactar con el equipo de El Pucherito?</h4>
<p>
    Existe una página expecifica con los datos de contacto. Para aceder a ella debe entrar en el enlace "Contacto" de la barra de navegación.
</p>

<h4>¿Es necesario estar registrado para poder ver el contenido de las publicaciones?</h4>
<p>
    No es necesario, los usuarios registrados tendrán las ventajas de poder crear sus propias publicaciones y comentar en las de los demás.
</p>

<h4>¿Cual es el significado de la vida?</h4>
<p>
    Puesto que esta es una web sobre cocina no sabemos dicha respuesta, pero podemos poner una definición de la wikipedia por si es de ayuda:
    "El sentido de la vida constituye una cuestión filosófica sobre el objetivo y el significado de la vida, o de la existencia más en general. 
    Este concepto se puede expresar a través de una variedad de preguntas, tales como ¿Por qué estamos aquí? o ¿Qué es la vida?. 
    Ha sido objeto de un gran estudio filosófico, científico, psicológico y teológico, e incluso literario a lo largo de la historia. 
    Esta cuestión ha recibido un gran número de respuestas desde diferentes puntos de vista, junto con los orígenes culturales e ideológicos de cada civilización."
</p>
